# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
node_modules/
.venv/
env/
__pycache__/
# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
*.sqlite3
**/static_cdn/
**/dist
**/webpack-stats-angular.json
WebApp/ClientApp/.browserslistrc
WebApp/ClientApp/.editorconfig
WebApp/ClientApp/angular.json
WebApp/ClientApp/extra-webpack.config.js
WebApp/ClientApp/karma.conf.js
WebApp/ClientApp/package-lock.json
WebApp/ClientApp/package.json
WebApp/ClientApp/README.md
WebApp/ClientApp/rename.bat
WebApp/ClientApp/tsconfig.app.json
WebApp/ClientApp/tsconfig.json
WebApp/ClientApp/tsconfig.spec.json
WebApp/ClientApp/tslint.json
WebApp/ClientApp/e2e/protractor.conf.js
WebApp/ClientApp/e2e/tsconfig.json
WebApp/ClientApp/e2e/src/app.e2e-spec.ts
WebApp/ClientApp/e2e/src/app.po.ts
WebApp/ClientApp/src/index.html
WebApp/ClientApp/src/main.ts
WebApp/ClientApp/src/polyfills.ts
WebApp/ClientApp/src/styles.scss
WebApp/ClientApp/src/test.ts
WebApp/ClientApp/src/app/app-routing.module.ts
WebApp/ClientApp/src/app/app.component.html
WebApp/ClientApp/src/app/app.component.scss
WebApp/ClientApp/src/app/app.component.spec.ts
WebApp/ClientApp/src/app/app.component.ts
WebApp/ClientApp/src/app/app.module.ts
WebApp/ClientApp/src/app/application-shared/components/page-not-found/page-not-found.component.html
WebApp/ClientApp/src/app/application-shared/components/page-not-found/page-not-found.component.scss
WebApp/ClientApp/src/app/application-shared/components/page-not-found/page-not-found.component.spec.ts
WebApp/ClientApp/src/app/application-shared/components/page-not-found/page-not-found.component.ts
WebApp/ClientApp/src/app/application-shared/components/skeleton-card/skeleton-card.component.html
WebApp/ClientApp/src/app/application-shared/components/skeleton-card/skeleton-card.component.scss
WebApp/ClientApp/src/app/application-shared/components/skeleton-card/skeleton-card.component.spec.ts
WebApp/ClientApp/src/app/application-shared/components/skeleton-card/skeleton-card.component.ts
WebApp/ClientApp/src/app/application-shared/directives/image-fallback/DImageFallback.directive.spec.ts
WebApp/ClientApp/src/app/application-shared/directives/image-fallback/DImageFallback.directive.ts
WebApp/ClientApp/src/app/application-shared/modules/application-shared.module.ts
WebApp/ClientApp/src/app/application-shared/modules/primeng-shared.module.ts
WebApp/ClientApp/src/app/application-shared/modules/shared-components.module.ts
WebApp/ClientApp/src/app/application-shared/modules/shared-pipes.module.ts
WebApp/ClientApp/src/app/application-shared/pipes/ImageListFilter/ImageListFilter.pipe.spec.ts
WebApp/ClientApp/src/app/application-shared/pipes/ImageListFilter/ImageListFilter.pipe.ts
WebApp/ClientApp/src/app/application-shared/services/sweetAlert/sweetAlert.service.spec.ts
WebApp/ClientApp/src/app/application-shared/services/sweetAlert/sweetAlert.service.ts
WebApp/ClientApp/src/app/modules/intelligence/intelligence-routing.module.ts
WebApp/ClientApp/src/app/modules/intelligence/intelligence.module.ts
WebApp/ClientApp/src/app/modules/intelligence/components/intelligence/intelligence.component.html
WebApp/ClientApp/src/app/modules/intelligence/components/intelligence/intelligence.component.scss
WebApp/ClientApp/src/app/modules/intelligence/components/intelligence/intelligence.component.spec.ts
WebApp/ClientApp/src/app/modules/intelligence/components/intelligence/intelligence.component.ts
WebApp/ClientApp/src/app/modules/intelligence/interfaces/IImage.ts
WebApp/ClientApp/src/app/modules/intelligence/services/intelligence.service.spec.ts
WebApp/ClientApp/src/app/modules/intelligence/services/intelligence.service.ts
WebApp/ClientApp/src/app/modules/navigation/navigation-routing.module.ts
WebApp/ClientApp/src/app/modules/navigation/navigation.module.ts
WebApp/ClientApp/src/app/modules/navigation/navigation.service.spec.ts
WebApp/ClientApp/src/app/modules/navigation/components/header/header.component.html
WebApp/ClientApp/src/app/modules/navigation/components/header/header.component.scss
WebApp/ClientApp/src/app/modules/navigation/components/header/header.component.spec.ts
WebApp/ClientApp/src/app/modules/navigation/components/header/header.component.ts
WebApp/ClientApp/src/app/modules/navigation/components/navigation/navigation.component.html
WebApp/ClientApp/src/app/modules/navigation/components/navigation/navigation.component.scss
WebApp/ClientApp/src/app/modules/navigation/components/navigation/navigation.component.spec.ts
WebApp/ClientApp/src/app/modules/navigation/components/navigation/navigation.component.ts
WebApp/ClientApp/src/assets/styles/.gitkeep
WebApp/ClientApp/src/assets/styles/style.css
WebApp/ClientApp/src/environments/environment.prod.ts
WebApp/ClientApp/src/environments/environment.ts
WebApp/ClientApp/src/static/images/favicon.ico
WebApp/ClientApp/src/static/images/noimage.jpg
