<!-- Navigation -->

<div class="jumbotron card card-imag shadow-none bg-transparent rounded-0 border-0"
  styl="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
  <div class="text-white text-center py-md-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>
          Oops!
        </strong></h2>
      <h3 class="font-weight-bold">This obviously isn't the page you were looking for.</h3>
      <h4 class="mx- mt- my-5 text-info">
        Please navigate back to safe harbor.
      </h4>

      <div class="d-flex justify-content-center flex-wrap">
        <div class="p-2">
          <p-button label="Home" [routerLink]="['/']" icon="pi pi-home" iconPos="right"></p-button>
        </div>

      </div>

    </div>
  </div>
</div>